:root {
    --primary-color: #005f73; /* Deep Teal Blue */
    --secondary-color: #0a9396; /* Fresh Aqua Green */
    --accent-color: #ee9b00; /* Warm Orange */
    --light-color: #fdfcdc; /* Off White */
    --dark-color: #001219; /* Navy / Charcoal */
    --heading-font: "Arial Black",sans-serif;
    --body-font: Arial, sans-serif;
}

/* Reset box-model properties */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Style the body */
body {
    font-family: var(--body-font);
    color: var(--dark-color);
    background-color: var(--light-color);
    line-height: 1.6;
}

/* Limit page width and center content */
header, main, footer {
    max-width: 1200px; /* keep content from stretching too wide */
    margin: 0 auto; /* center content horizontally*/
}

/* Header styles */
h1, h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

/* Consistent spacing*/
nav, a, section, article {
    margin: 1rem;
    padding: 0.5rem;
}

nav a {
    text-decoration: none;
    color: var(--dark-color);
    margin-right: 1rem;
}

nav a:hover {
    color: var(--accent-color);
}

.hero {
    position: relative;
    max-height: 500px;
    overflow: hidden;
}

.hero img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}

.hero h1 {
    position: absolute;
    top: 5%;
    left: 10%;
    color: rgba(255, 255, 255, 0.85);
    font-size: 3rem;
    background-color: rgba(0, 128, 128, 0.6);
    padding: 10px 20px;
    border-radius: 8px;
}

.hero article {
    position: absolute;
    bottom: 10%;
    left: 10%;
    width: 60;
    background-color: rgba(0, 128, 128, 0.6);
    color: #000000;
    padding: 1rem;
    border-radius: 8px;
}

.hero article img {
    float: right;
    margin: 0 0 1rem 1rem;
    width: 200px;
    border-radius: 6px;
}

footer {
    text-align: center;
    padding: 1rem;
    background-color: var(--light-color);
}
footer a img {
    text-decoration: none;
}

.socialmedia a {
    text-decoration: none;
}