:root {
    --body-font: 'Arial, sans--serif';
    --heading-font: 'Georgia, serif';
    --primary-color: #1e3a8a;
    --secondary-color: #90e0ef;
    --text-color: #1f2937;
    --background-color: #f3f4f6;
    --accent-color: #10b981;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: var(--body-font);
    color: var(--text-color);
    background-color: var(--background-color);
    line-height: 1.6;
}
header, main, footer{
    max-width: 1200px;
    margin: 0 auto;

}
h1, h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}
nav, p, section, article0 {
    margin: 1rem;
    padding: 0.5rem;
}
.hero {
    position: relative;
}
.hero img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
}
.hero h1 {
    position: absolute;
    top: 5%;
    left: 10%;
    font-size: 3rem;
    color: rgba(255, 255, 255, 0.8);
    background-color: rgba(0, 128, 128, 0.6);
    padding: 10px 20px;
    border-radius: 8px;
}
.hero article {
    position: absolute;
    bottom: 10%;
    left: 10%;
    width: 60%;
    background-color: rgba(0, 128,128, 0.6);
    color: #000000;
    padding: 1rem;
    border-radius: 8px;
}
.hero article img {
    float: right;
    margin: 0 0 1rem 1rem;
    width: 200px;
    border-radius: 6px;
}
footer {
    text-align: center;
    padding: 1rem;
    background-color: var(--background-color);
    color: var(--light-color);
}
footer a img {
    text-decoration: none;
}