* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    padding: 1rem;
    background-color: #f4f4f4;
    color: #333;
}
header {
    margin: 0 auto;
    width: 650px;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
    border-bottom: 4px solid darkblue;
}
header h1 {
    font-size: 2rem;
    letter-spacing: 2px;
}
form {
    width: 600px;
    min-width: 40%;
    margin: 2rem auto;
    padding: 2rem;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: grid;
}
form input, form select, form textarea {
    width: 80%;
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}
fieldset {
    display: grid;
    gap: 0.75rem;
    padding: 1rem;
    margin-bottom: 1.5rem;
    border: 2px solid #ccc;
    border-radius: 8px;
    background-color: #fdfdfd;
}
legend {
    font-size: 1.1rem;
    font-weight: bold;
    color: #222;
    padding: 0 0.5rem;
    background-color: #009688;
    color: #333;
    border-radius: 4px;
}
label, input, button, select, textarea {
    font-family: 'Times New Roman', Times, serif;
}
label {
    text-align: left;
    padding-right: 1rem;
}
input, select, textarea {
    padding: 0.5rem;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100px;
    box-sizing: border-box;
}
input[type="checkbox"] {
    width: 20px;
    height: 20px;
    vertical-align: bottom;
}
form button, form input[type="submit"] {
    background-color: #009688;
    width: fit-content;
    justify-content: center;
    color: #222;
    padding: 0.75rem 1.5rem;
    font-size: 1.8rem;
    border: none;
    border-radius: 8px;
    transition: background-color 0.3s ease, transform 0.2s ease;
    display: inline-block;
}
button:hover {
    background-color: #555;
}
footer {
    text-align: center;
    color: #222;
    margin: 2rem;
    font-size: 0.9rem;
    border-top: 4px soli #ff9800;
}
.form-items {
    display: grid;
    align-items: center;
}
.column1 {
    grid-template-columns: 3fr 1fr;
    margin: 0.5rem 0;
}
.column2 {
    grid-template-columns: 1fr 2fr;
}
.form-actions {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}
.form-actions button {
    width: auto;
    padding: 0.75rem 1.5rem;
    border-radius: 8px;
}