* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    max-width: 840px;
}

nav {
    background-color:darkblue;
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: darkblue;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
    margin: 0 0 1rem 1rem;
}

p {
    padding: 0px;
}

aside {
    width: 20rem;
    margin: 1rem;
    border: 1px solid rgba(0 0 0 / 0.2); /*why use rgba instead of hex here? */
    padding: 1rem;
    background-color: #eee;
    color: #333;
    text-align: center;
    position: relative;
}

.image-container {
    position: relative;
    display: inline-block;
}

.image-container img {
    width: 100%;
    height: auto;
    display: block;
}

.ghana-text {
    position: absolute;
    top: 40px; /* << shifts it up a little from where it was */
    left: 20px;
    color: #000;
    font-size: 28px;
    font-weight: bold;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0 .8);
}

aside img {
    width: 200px;
    height: auto;
}

aside h2 {
    position: absolute;
    top: 47px;
    left: 150px;
}

footer {
    margin-top: 1rem;
    border-top: 1rem solid #000;
    text-align: center;
}

/*class selectors*/
.box {
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 10%);
    padding: 1rem;
    background-color: #ddd;
    color: #000;
}

.indent {
    padding-left: 2rem;
}